[user]
	name = Xinyuan Zhang
	email = 130569532+Daucloud@users.noreply.github.com
[pull]
	rebase = true
[commit]
	template = {{.chezmoi.homeDir}}/.gitmessage.txt
[core]
	excludesfile = /Users/daucloud/.gitignore_global
	editor = vim
[alias]
	chekcout = checkout
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
